<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <application
        android:label="AeroDesk"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight">
        <service
            android:name=".InputInjectionService"
            android:exported="false"
            android:label="AeroDesk 输入注入"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <activity android:name=".PublisherActivity" android:exported="true" />
        <service android:name=".ProjectionService" android:exported="false"
            android:foregroundServiceType="mediaProjection" />
        <activity
            android:name=".SlintActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|density|keyboard|keyboardHidden|navigation|uiMode|mcc|mnc"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.app.lib_name"
                android:value="aerodesk_android" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:exported="false" />
    </application>
</manifest>
